<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/1.0.2/css/bulma.min.css">
    <style>
        body {
            display: grid;
            place-items: center;
            height: 100vh;
        }

        form {
            width: 300px;
            text-align: center;
        }
    </style>
</head>

<body>
    <form action="/login" method="post">
        <h1 class="title">Login</h1>

        <div class="field">
            <input type="text" class="input" placeholder="Username" required name="username">
        </div>

        <div class="field">
            <input type="password" class="input" placeholder="Password" required name="password">
        </div>

        <input type="submit" value="Login" class="button is-fullwidth is-primary">
    </form>
</body>

</html>